node_modules
.models/
.next
out
dist
tmp
.env
.env.local
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
Final_Video/*.mp4
!Final_Video/.gitkeep
fact_history/
token.json
client_secrets.json
